body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

header {
    background-color: #0074D9;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}


/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    
  }
  
  /* Estilos para pantallas medianas (tabletas) */
  @media (min-width: 769px) and (max-width: 1024px) {
    /
  }
  
  /* Estilos para pantallas grandes (escritorio) */
  @media (min-width: 1025px) {
    
  }

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100%;
    margin: 20px auto;
    display: block;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #4d76ef;
    border: 1px solid #000000;
    color:#FFFFFF;
    
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
}

ul {
    list-style-type: disc;
}
.profile-pic {
    border-radius: 50%;
    width: 300px; /* Cambia este valor a tu preferencia */
    height: 300px; /* Cambia este valor a tu preferencia */
    margin: 20px auto;
    display: block;
}